
body{ 
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Nunito', sans-serif;
}

.btn{
	font-family: 'Nunito', sans-serif;
}

.center-in-container{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
	max-width: 800px;
}

.align-right{
	margin-left:auto;
	display: block;
	
}

.guess-main{
	font-size: 5em;
	line-height: 0.8em;
	font-family: 'Nunito', sans-serif;
}

.guess-secondary{
	font-size: 2em ;
	line-height: 0.8em;
	font-family: 'Nunito', sans-serif;
}


.same-line{
	display: inline;
}

.align-bottom{
	margin-top:auto;
}

.notes{
	color: #999;
	font-size: 11px;
}

.align-canvas-right{
	margin-left: 276px;
}

.smaller-text{
	font-size: 0.8em;
	color: grey;
}

.border-bottom{
	border-style: solid;
  	border-width: 0px 0px 1px 0px;
  	border-color: grey;
}	

.hidden{
	 display:none;
}

.prompt{
	color: grey;
}

.min-height{
	min-height:80px;
}

